/* resetting browser stuff */
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');

}

*     {
  box-sizing: border-box;
}

html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: 'Roboto';
}

/* styling our header */
header   {
  background: #1f2937;
  padding-top: 20px;
  padding-left: 24%;
  padding-right: 10%;
  display: flex;
  background: #1f2937;
  align-content: center;
  justify-content: center;
}

#logo > a {
  color: #f9faf8;
  text-decoration: none;
}

/* logo */
#logo         {
  width: 20%;
  display: inline-block;
  color: #f9faf8;
  text-decoration: none;
  font-size: 24px;
}

#logo span   {
  display: inline-block;
}

/* main navigation */
nav     {
  width: 80%;
  text-align: center;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

/* styling our footer */
footer   {
  background: #1f2937;
  color: #777;
  padding: 40px;
  text-align: center;
}

/* styling our main content */
.hero           {
  display: flex;
  padding-left: 24%;
  min-height: 500px;
  text-align: center;
  background: #1f2937;
}

.hero-image {
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 5px;
}

.hero-image img {
  width: 50%;
  padding-top: 120px;
}

.hero-content   {
  text-align: left;
  margin-right: 50px;
  color: #FFF;
  padding-top: 130px;
}

.hero-content .hero-title {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  color: #f9faf8
}
.hero-content p    {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-content a {
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
  background-color: #3882F6;
  border-color: none;
  color: #fff;
  text-align: left;
  border-radius: 8px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* basic site sections */
.feature-section   {
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}  

/* basic site sections */
.site-section   {
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.information-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #1F2937;
}

/* feature boxes */
.feature-box   {
  text-align: left;
  width: 325px;
  padding: 20px 50px;
  margin-left: 10px;
}
.feature-box img  {
  margin-bottom: 12px;
  width: 80px;
}
.feature-box h5   {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}

/* testimonial boxes */
.testimonial-box   {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;
}
.testimonial-content   {
  background: #FFF;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.testimonial-author img {
  float: left;
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}
.testimonial-author h5   {
  font-size: 18px;
  margin: 0;
  padding-top:15px;
}
.testimonial-author span {
  font-size: 14px;
}
